.page-content{
    min-height: calc(100vh - 155px) !important;
 
    max-height: calc(100vh - 155px) !important;
   
    background: white 0% 0% no-repeat;
   
    overflow-y: auto;
}
.banner-container {
    overflow: hidden; /* Hide content outside the container */
    white-space: nowrap; /* Prevent text wrapping */
    width: 100%; /* Full-width container */
    background: #f4f4f4; /* Optional: Background color */
    border: 1px solid #ddd; /* Optional: Border */
  }
  
  .banner-content {
    display: inline-block;
    animation: scroll 10s linear infinite; /* Smooth, infinite scrolling */
  }
  
  .banner-content span {
    margin-right: 50px; /* Add spacing between items */
    font-size: 18px; /* Adjust text size */
    color: #333; /* Text color */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }