.img-fluid{
    width: 14rem; 
    height: 14rem;
  }

  .btn-submit{
    color:white !important;
    background-color: rgb(91, 131, 91)
  }
  .btn-cancel{
    color:white !important;
    background-color: rgb(107, 105, 105)
  }