<h2 mat-dialog-title> <label>{{productDetails.name}}</label></h2>
<mat-dialog-content class="mat-typography">
<div class="col-12 d-flex justify-content-center">
    <img class="img-fluid" [src]="'data:image/png;base64,' + productDetails.images[0].product_image">  
</div>
<form [formGroup]="buyerDetailsForm" class="mt-2">
                <mat-form-field class="col-12"  appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Mail ID</mat-label>
                    <input matInput formControlName="mailId">
                </mat-form-field>
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="mobNo">
                </mat-form-field>
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-raised-button mat-dialog-close class="btn-cancel">Cancel</button>
<button mat-raised-button [mat-dialog-close]="true" class="btn-submit" (click)="notify()">Notify</button>
</mat-dialog-actions>

