
   
   .image-fluid {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
   }
   
   mat-card {
    border: 2px solid gray; /* Customize color and width */
    padding: 5px; /* Optional: Add padding if desired */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Adjust the height for smaller screens */
   }
   
   .btn-submit {
    color: white !important;
    background-color: rgb(91, 131, 91)
   }
   
   .btn-cancel {
    color: white !important;
    background-color: rgb(107, 105, 105)
   }
   .mat-card-image{
    margin: 0% !important;
   }
  
  img:hover{
    transition: transform 0.5s ease;
    cursor: pointer;
  }
  .card-container-product:hover{
    cursor: pointer;
    color:#873e23
  }
  .product_name {
    white-space: nowrap;        /* Ensures the text stays in a single line */
    overflow: hidden;           /* Hides the text that overflows the container */
    text-overflow: ellipsis; 
  
   }  
   mat-card:hover {
    transform: scale(1.01); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  mat-card-content span {
    display: block !important;        /* This makes each span a block-level element */
    margin-bottom: 8px; 
    text-align: center; /* Adds space between the spans */
  }

  .light_weight{
    font-weight: 300 !important;
  }