.footer {

  font-size: 95% !important;
 
  /* background-color: #317773; */
 
  background-color: #FA3939;
 
  display: flex;
 
  position: sticky;
 
  height: 60px
 
   /* Make the header sticky *
 
  bottom: 0;
 
  /* Stick to the top */
 
 }
 
 mat-toolbar {
 
  color: white !important;
 
 }