

  .image-box {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    overflow: hidden; /* Hide any part of the image that overflows the box */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 4px; /* Optional: Add rounded corners */
  }
  img {
    max-width: 100%; /* Ensure the image scales to fit the width */
    max-height: 100%; /* Ensure the image scales to fit the height */
    object-fit: cover; /* Crop the image to fill the box */
  }

  .image-main{
    width: 350px; /* Set the desired width */
    height: 350px; /* Set the desired height */
    overflow: hidden; /* Hide any part of the image that overflows the box */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 4px; /* Optional: Add rounded corners */
  }

   .btn-submit {
 
  color: white !important;
 
  background-color: rgb(91, 131, 91)
 
 }
 
 .btn-cancel {
 
  color: white !important;
 
  background-color: rgb(107, 105, 105)
 
 }

 @media (min-width: 768px) {
 
    .image-column {
        display: flex;
        flex-direction: column;
        align-items: center; /* Aligns images to the center horizontally */
        gap: 10px; /* Optional: Adds space between images */
      }

}
