<div class="container">
    <div class="row box-conatiner mt-5 d-xl-flex d-lg-flex d-md-flex d-sm-none d-none">
        <div class="col-1">
            <div class="image-column" *ngFor="let i of productDetails.images">
                <img class="image-box" [src]="'data:image/png;base64,'+i.product_image" (click)="showImage(i)">
            </div>
        </div>
        <div class="col-5">
            <img class="image-main" [src]="'data:image/png;base64,'+image">
                <div class="mt-5">
                    <button mat-raised-button class="btn-submit mb-3 mr-3" (click)="contact()">Contact Owner</button>
                    <button mat-raised-button class="btn-cancel" (click)="back()">Back</button>
                
            </div>
           
        </div>
        <div class="col-6">
            <h2>Steel Wardrobe | Cupboard | Almirah | Bero</h2>
            <span>Description</span><br>
            <span>A.S.K 3 Star Steels Cupboards are made from high quality steel either from TATA or JSW. Our Luxury Wardrobes are custom designed with capacious features to maintain a well-organised and tidy arrangement. They are manufactured through world class technologies ensuring high tenacity and perfect structure.</span><br><br>

                <span>The cupboards are available in 6 vibrant colours - 4 Solid (Pink, Blue, Green, Purple) and 3 Wooden patterns (Rosewood, Walnut, Teak)</span>.<br><br>
                
                <span>Steel Bureau (Bero) Dimensions: Swarna 2 Door 36" Cupboard, Akshaya 2 Door 42" Almirah, Vajra 3 Door 54" Wardrobe.</span><br><br>
                
                <span>Features: Weight - 72 Kg to 118 Kg (All our cupboards are heavy weight); Full size Dressing mirror (Optional); Pipe structure ensuring a Strong and Sturdy build; Powder coating which is tougher and long-lasting; European Style Soft Close Hydraulic Steel Hinge; European standard Lockers for safe keeping valuables; Bottom Suitcase locker.</span>
        </div>
    </div>

    <div class="row box-conatiner mt-5 d-xl-none d-lg-none d-md-none d-sm-flex d-flex">
        <div class="col-12 d-flex justify-content-center">
            <img class="image-main" [src]="'data:image/png;base64,'+image">    
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="image-column col-2 mt-3" *ngFor="let i of productDetails.images">
                <img class="image-box" [src]="'data:image/png;base64,'+i.product_image" (click)="showImage(i)">
            </div>
        </div>       
        <div class="col-12">
            <h2>Steel Wardrobe | Cupboard | Almirah | Bero</h2>
            <span>Description</span><br>
            <span>A.S.K 3 Star Steels Cupboards are made from high quality steel either from TATA or JSW. Our Luxury Wardrobes are custom designed with capacious features to maintain a well-organised and tidy arrangement. They are manufactured through world class technologies ensuring high tenacity and perfect structure.</span><br><br>
                <span>The cupboards are available in 6 vibrant colours - 4 Solid (Pink, Blue, Green, Purple) and 3 Wooden patterns (Rosewood, Walnut, Teak)</span>.<br><br>
                <span>Steel Bureau (Bero) Dimensions: Swarna 2 Door 36" Cupboard, Akshaya 2 Door 42" Almirah, Vajra 3 Door 54" Wardrobe.</span><br><br>
                <span>Features: Weight - 72 Kg to 118 Kg (All our cupboards are heavy weight); Full size Dressing mirror (Optional); Pipe structure ensuring a Strong and Sturdy build; Powder coating which is tougher and long-lasting; European Style Soft Close Hydraulic Steel Hinge; European standard Lockers for safe keeping valuables; Bottom Suitcase locker.</span>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="mt-3">
                <button mat-raised-button class="btn-submit mb-3 mr-3" (click)="contact()">Contact Owner</button>
                <button mat-raised-button class="btn-cancel" (click)="back()">Back</button>
            </div>
            
        </div>
        
    </div>
</div>
